{% extends "layout.html" %}

<body>
{% block content %}
    <h2 class="content-subhead">Search</h2>

    <form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
    </form>

    {% if query %}
        {% if results %}
            <h3 class="content-subhead">Results for '{{query}}' </h3>
            <ul>
                {% for chapter, data in results.items() %}
                    <li>
                        <h4>{{ chapter }}</h4>
                        <ul>
                            {% for para_index, paras in data.paragraphs.items() %}
                                <li> <a href = "{{ url_for('chapter', page_num = data.index) }}#{{ para_index }}">{{paras| highlight(query) | safe}} </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4 class="content-subhead"> Sorry no matches found </h4>
        {% endif %}
    {% endif %}
{% endblock %}
